<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akfood1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AKFood1">
        <activity
            android:name=".History"
            android:exported="false" />
        <activity
            android:name=".SuccessReserv"
            android:exported="false" />
        <activity
            android:name=".orders.OrderSuccess"
            android:exported="false" />
        <activity
            android:name=".orders.MyOrder"
            android:exported="false" />
        <activity
            android:name=".MenuPage"
            android:exported="false" />
        <activity
            android:name=".SearchResults"
            android:exported="false" />
        <activity
            android:name=".orders.OrderInRestaurant"
            android:exported="false" />
        <activity
            android:name=".orders.OrderOnline"
            android:exported="false" />
        <activity
            android:name=".typeOfFoods.Noodles"
            android:exported="false" />
        <activity
            android:name=".typeOfFoods.Pizza"
            android:exported="false" />
        <activity
            android:name=".typeOfFoods.Burgers"
            android:exported="false" />
        <activity
            android:name=".typeOfFoods.Soups2"
            android:exported="false" />
        <activity
            android:name=".topCategories.Restaurant"
            android:exported="false" />
        <activity
            android:name=".topCategories.Soups"
            android:exported="false" />
        <activity
            android:name=".topCategories.Dessert"
            android:exported="false" />
        <activity
            android:name=".topCategories.FastFood"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".orders.Orders"
            android:exported="false" />
        <activity
            android:name=".Reservation"
            android:exported="false" />
        <activity
            android:name=".topCategories.Cake"
            android:exported="false" />
        <activity
            android:name=".Profile2"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".YourDetails"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
